@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* .font-sty h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #1D1D1D;
    margin: auto;
} */

/* =====================COMMON CSS===================== */
a {
    text-decoration: none;
    color: white;
}

/* =====================COMMON CSS===================== */

.txt-resize h5 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
}

.txt-resize p {
    color: #fff3f3;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 576px) {
    .carousel-caption .txt-resize .h5-resize {
        font-size: 20px;
        font-weight: 300;
    }

    .carousel-caption .txt-resize button {
        margin-bottom: 0;
    }

    .txt-resize p {
        font-weight: 400;
        font-size: 10px;
    }
}

/* =====================popular courses section start===================== */
@media screen and (max-width: 576px) {

    .img-position .img-4,
    .img-5,
    .img-6 {
        display: none;
    }

    .img-position .shadow-sm img {
        width: 100%;
    }
}

/* =====================popular courses section end===================== */

/* ========== explore institute section start ========== */
.card-style {
    border: none;
    border-radius: 5px;
}

.exp-inst {
    width: 1200px;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
}

.exp-inst .img-sec {
    width: 40%;
    height: 100%;
}

.exp-inst .img-sec img {
    width: 100%;
}

.exp-inst .text-sec {
    width: 60%;
    background-color: #F4FAFD;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins';
}

.exp-inst .text-sec h2 {
    font-size: 36px;
}


.text-sec .main-text {
    width: 80%;
}

.text-sec .details-sec {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.text-sec .details-sec h2 {
    font-size: 30px;
}

.text-sec p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.text-sec button {
    width: 120px;
    font-size: 12px;
    margin-top: 20px;
}

.text-sec button a {
    color: white;
}

@media screen and (max-width: 576px) {

    .exp-inst .text-sec {
        width: 100%;
        padding-left: 0;
        justify-content: left;
    }

    .exp-inst {
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
    }

    .exp-inst .img-sec {
        width: 100%;
        height: 100%;
    }

    .exp-inst .img-sec img {
        width: 100%;
    }

    .text-sec .details-sec {
        display: flex;
    }

    .exp-inst .text-sec h2 {
        font-size: 24px;
        margin-top: 20px;
    }

    .text-sec p {
        font-size: 10px;
        text-align: left;
    }

    .text-sec .main-text {
        width: 100%;
    }

    .text-sec .details-sec {
        padding-top: 0;
    }

    .text-sec .details-sec h2 {
        font-size: 20px;
        font-weight: 600;
    }

    .text-sec button {
        margin: 0 0 10px;
    }

}

/* ========== explore institute section end ========== */

/* ========== Ready to join section start ========== */

.register-sec {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}

.register-sec .register-text {
    width: 60%;
    height: 100%;
    padding-top: 50px;
}

.register-sec .register-btn {
    width: 40%;
    height: 100%;
}

.register-btn {
    padding-top: 80px;
    display: block;
}

.register-text p {
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.register-btn a {
    color: #289BDE;
}

@media screen and (max-width: 576px) {

    .register-sec {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .register-sec .register-text {
        padding-top: 10px;
    }

    .register-btn {
        padding-top: 0;
        margin-bottom: 20px;
    }
}

/* ========== Ready to join section end ========== */

.text-clr p {
    color: #777777;
    font-size: 12px;
    font-weight: 400;
}

/* ========== Successful Student section start ========== */
.student-sec {
    width: 45%;
}

.student-sec h2 {
    color: #3b3b3b;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.student-sec p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

.students .register-btn a {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.students .register-btn {
    padding-bottom: 20px;
}

@media screen and (max-width: 576px) {
    .students .student-sec {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        width: 100%;
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .students .student-sec h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 576px) {

    .students .text-clr h5,
    p {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

    .students .text-clr .sd-nope {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .container .only-for-sm {
        margin-left: 150px;
    }
}

/* ========== Successful Student section end ========== */

/* ========== Students feedback section start ========== */
.students-feed h2 {
    color: #3b3b3b;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.students-feed p {
    color: #777777;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.common-text {
    color: #777777;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}

.icons {
    width: 100%;
    margin-top: 10px;
}

.icons .quote-lt {
    margin-left: 10px;
}

.icons .star-rt {
    margin-right: 10px;
}

.fa-star {
    color: gold;
}

.fa-star-half-stroke {
    color: gold;
}

.end-part img {
    padding-right: 20px;
}

.end-part .img-text p {
    color: #777777;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.end-part .img-text h6 {
    color: #4A4A4A;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

@media screen and (max-width: 576px) {

    .mar-btm {
        margin: 20px 0;
    }
}

/* ========== Students feedback section end ========== */

/* ========== FAQ section start start ========== */
.faq-main {
    margin: 120px auto 120px;
    width: 700px;
}

.faq-sec {
    text-align: center;
}

.faq-sec h2 {
    color: #3b3b3b;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.faq-sec p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width: 576px) {

    .faq-main {
        width: 100%;
        margin: 50px 0;
    }

    .faq-sec h2 {
        font-size: 28px;
    }
}

/* ========== FAQ section start end ========== */

/* ========== Trusted companies section start ========== */
.company-sec {
    margin-bottom: 120px;
}

.company-sec h2 {
    color: #3b3b3b;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 576px) {

    .company-sec {
        display: none;
    }
}

/* ========== Trusted companies section end ========== */

/* ========== Footer section start ========== */
footer {
    width: 100%;
    height: 500px;
    background-color: #1E1E1E;
}

footer .company-add {
    width: 100%;
    height: 300px;
    background-color: #161616;
}

.company-add {
    padding-top: 50px;
}

.main-add h2 {
    color: #FFFFFF;
}

.main-add p {
    color: #E8E8E8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}

.footer-icon a {
    padding: 0 5px;
}

/* ========== Footer section end ========== */

/* ========== Footer section start ========== */
@media screen and (max-width: 576px) {

    footer .company-add {
        width: 100%;
        height: 100%;
        padding-top: 0;
    }

    .main-add h2 {
        font-size: 16px;
    }

    .main-add p {
        font-size: 8px;

        line-height: 1.1em;
    }

    .footer-icon a {
        padding-bottom: 20px;
    }

    .footer-icon i {
        text-size-adjust: 20px;
    }
}

/* ========== Footer section end ========== */